<div class="container">
  <form action="/posts" method="post">
      <div class="form-group">
          <div class="row">
              <label for="todo" class="col-xs-2">Todo</label>
              <input type="text" name="body" class="col-xs-8">
              <div class="col-xs-2">
                  <button type="submit" class="btn btn-success">
                      <i class="fa fa-plus"></i> Add Todo
                  </button>
              </div>
          </div>
      </div>
  </form>

  <h2>Current Todos</h2>
  <table class="table table-striped todo-table">
      <thead>
          <th>Todos</th><th>&nbsp;</th>
      </thead>

      <tbody>
          <div *ngFor="let n of name">
              <tr>
                  <td>
                      <div>{{ n.name }}</div>
                  </td>
                  <td>
                  </td>
              </tr>
          </div>
      </tbody>
  </table>

</div>
